#floating__nav {
    display: none;
}

/* MEDIA QUERIES (tablets and phones */
@media screen and (max-width: 1024px) {
    #floating__nav {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }
}